{{> base}}

<form action="/login" method="POST">
    <div>
        <input type="text" name="username">
        <input type="password" name="password">
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>


